#{extends 'main.html' /}
#{set title:'Person' /}


<hr/>

<table>
	<tr>
		<td>name</td>
		<td>sex</td>
		<td>age</td>
		<td>caozuo</td>
	</tr>
	#{list items:list,as:'person'}
	<tr>
	<td>${person.name}</td>
	<td>${person.sex}</td>
	<td>${person.age}</td>
	<td><a style="color:blue" id="delete" href="@{PersonController.delete()}?id=${person.id}">delete</a>&nbsp;&nbsp;<a style="color:green" id="update" href="@{PersonController.update()}?id=${person.id}">update</a></td>
	</tr>
	#{/list}
	<tr>
	<td><a  style="color:#c00" id="add" href="@{PersonController.add()}">add</a></td>
	</tr>
</table>

